@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Fjalla+One&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
}


html {
  background: rgb(15,26,17);
  background: linear-gradient(90deg, rgba(51,77,51,1) 0%, rgba(24,41,27,1) 5%, rgba(15,26,17,1) 10%, rgba(15,26,17,1) 90%, rgba(24,41,27,1) 95%, rgba(51,77,51,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#root {
  height: 100vh;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
  display: flex;
  gap: 1em;
  padding: 2em;
}

.logo {
  height: 40px;
}

.heading {
  color: rgb(218, 243, 221);
  font-family: 'Fjalla One', sans-serif;
}

.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  background: none;
  border: none;
}

.menu-button > div {
  border: 1px solid rgb(218, 243, 221);
  width: 30px;
  margin: 5px 0;
}

.menu {
  width: 15em;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7em 2em 5em 2em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  background-color: #0f1a11;
  z-index: 1;
}

.link-container {
  max-width: fit-content;
}


.link-container > a {
  margin-left: 1em;
  text-decoration: none;
  color: rgb(218, 243, 221);
  font-size: 1.2em;
  font-family: 'Barlow Condensed', sans-serif;
}

.movies-container {
  text-align: center;
}

.search-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container > input {
  padding: 0.5em;
  border-radius: 0.3em;
  border: none;
}

ul {
  list-style: none;
  padding-inline-start:0
}

ul > li {
  border-radius: 1em;
  margin-bottom: 0.7em;
}

ul > li > div {
  background-color: #dde6db;
  border-radius: 1em;
  margin: 0.5em 0;
  padding: 0.3em;
  min-width: 40vw;
  color: #070c08;
  font-family: 'Barlow Condensed', sans-serif;
}

.carousel {
  position: relative;
  min-width: 60vw;
  height: 80vh;
  background-color: #dce4df;
  padding: 5vh 0 10vh 0;
  border-radius: 0.2em;
  overflow: hidden;
  box-shadow: 0.3em 0.3em 0.6em #070c08;
}

.carousel-inner {
  width: 85%;
  height: 99%;
  margin: auto;
}

.chart-container {
  height: 100%;
}

.chart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left,
.right {
  padding: 10px 8px 8px 13px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.left > svg,
.right > svg {
  fill: #bde1b5;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.indicator {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}


