
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1a11;
}

html, body {
  min-height: 100%;
}

#root {
	width: min(100% - 2rem, 80rem);
  height: 100vh;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  isolation: isolate;
  position: relative;
  /* overflow: hidden; */
}

header {
  display: flex;
  gap: 1em;
  padding: 2em;
}

.logo {
  height: 40px;
}

.heading {
  color: rgb(218, 243, 221);
  font-family: 'Fjalla One', sans-serif;
}

.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  background: none;
  border: none;
}

.menu-button > div {
  border: 1px solid rgb(218, 243, 221);
  width: 30px;
  margin: 5px 0;
}

.menu {
  width: 15em;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7em 2em 5em 2em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  background-color: rgb(61, 76, 52);
  box-shadow: 0.3 0.3 0.6 #070c08;
  z-index: 1;
}

.menu > div > a {
  margin-left: 1em;
  text-decoration: none;
  color: rgb(218, 243, 221);
  font-size: 1.2em;
}

.menu > div > a:hover {
  transform: scale(1.05);
}

.movies-container {
  text-align: center;
}

.search-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container > input {
  padding: 0.5em;
  border-radius: 0.3em;
  border: none;
}

ul {
  list-style: none;
  padding-inline-start:0
}

ul > li {
  border-radius: 1em;
  margin-bottom: 0.7em;
}

ul > li > div {
  /* border: 1px solid black; */
  background-color: #405c39;
  border-radius: 1em;
  margin: 0.5em 0;
  padding: 0.3em;
  min-width: 40vw;
  color: rgb(218, 243, 221);
}

.carousel {
  position: relative;
  min-width: 60vw;
  height: 80vh;
  place-content: center;
  background-color: #dce4df;
  padding: 5vh 0 10vh 0;
  border-radius: 0.2em;
  overflow: hidden;
}

.carousel-inner {
  width: 85%;
  height: 99%;
  margin: auto;
}

.chart-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  max-width: 80vw;
  margin: auto;
}

.slide_direction {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  background-color: #bde1b5;
  background-color: #aad3a2;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.indicator {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: #97cf8a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #4c7642;
}

